body {
    background-color: black;
    color: gold;
    font-family: Cambria, Georgia, "Book Antiqua", serif;
    font-size: 1.2em;
    margin-left: 5%;
    margin-right: 5%;
}
h1,h2 {
    color: lightgreen;
}

p {
    /*background-color: blueviolet;*/
    width:fit-content;
    color: aquamarine;
    margin-left: 10%;
    margin-right: 10%;
}
p.spoken{
    font-style: italic;
}
p.novel{
    font-family: Comic Sans MS, serif;
}
em{
    width:fit-content;
    font-weight: bolder;
}
strong{
    font-family:'Courier New', Courier, monospace;
}
pre strong{
    font-weight: bolder;
    font-family: cursive;
}
a{
    background-color: black;
}
a:link{
    color: white;
}
a:visited{
    color: green;
}
a:hover{
    color: aquamarine;
}
a:active{
    color:blueviolet;
}
img#StarSpin{
    width:80%;
}
img#NightSky{
    margin-top: 10px;
    margin-bottom: 10px;
    width:200px;
}

div.ParagraphOne{
    border: brown dotted 1px;
}
span.letter{
    color: lightgreen;
    padding-bottom: 20px;
    padding-top: 20px;
}
div.letters{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*media queries for responsive design*/
/* Ask the browser to identify the properties of the media that
the content is being displayed on and change the CSS rules accordingly */
/* As long as the width of the viewport is less than 750px, implement whatever
rules are present in this media query */
@media (max-width: 750px){
    body{
        margin-left: 3%;
        margin-right: 3%;
    }
    h2{
        width:60%
    }
}
@media (min-width:750){
    img#SadBunny{
        height:200px;
        float:right;
        background-color: lavender;
        margin-right: 2em;
    }
}

@media screen and (orientation:landscape){
    body{
        background-color: lightcyan;
    }
    pre.poem{
        display: none;
    }
}

/*@media (min-width:389) and (max-width:391) and
(min-height:843) and (max-height:845){
    body{
        display: none;
    }
}*/