body {
    background-color: black;
    color: gold;
    font-family: Cambria, Georgia, "Book Antiqua", serif;
    font-size: 1.2em;
    margin-left: 5%;
    margin-right: 5%;
}
h1,h2 {
    color: lightgreen;
}

p {
    /*background-color: blueviolet;*/
    width:fit-content;
    color: aquamarine;
    margin-left: 10%;
    margin-right: 10%;
}
p.spoken{
    font-style: italic;
}
p.novel{
    font-family: Comic Sans MS, serif;
}
em{
    width:fit-content;
    font-weight: bolder;
}
strong{
    font-family:'Courier New', Courier, monospace;
}
pre strong{
    font-weight: bolder;
    font-family: cursive;
}
a{
    background-color: black;
}
a:link{
    color: white;
}
a:visited{
    color: green;
}
a:hover{
    color: aquamarine;
}
a:active{
    color:blueviolet;
}
img#StarSpin{
    width:80%;
}
img#NightSky{
    margin-top: 10px;
    margin-bottom: 10px;
    width:200px;
}
img#SadBunny{
    height:200px;
    float:right;
    background-color: lavender;
    margin-right: 2em;
}
div.ParagraphOne{
    border: brown dotted 1px;
}
span.letter{
    color: lightgreen;
    padding-bottom: 20px;
    padding-top: 20px;
}
div.letters{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}