body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
}

div#navbar{
    display: flex;
    width: 100%;
    justify-content: space-around;
    /*fix navbar at top of viewport*/
    position: fixed;
    top: 0;
}

div.nav{
    width: 30%;
    text-align: center;
}

/*By default, hide any dropdown menu item*/
div.nav div.dropdownitem a{
    display: none;
    text-decoration: none;
    color: green;
    padding: 15px 15px;
    text-align: left;
    position: relative;
    left: 25%;
    box-shadow: 1px 1px gray;
    width: 60%;

}

/* When the user hovers over the nav element, show dropdown items */
div.nav:hover div.dropdownitem a{
    display: block;
}